html{
    box-sizing: border-box;
}
*,*:before, *:after{
    box-sizing: inherit;
}

img{
    width: 300px;
}

/* navigation bar */ 


.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #ffe66d;
}

/* Navigation bar links */
.navbar a {
    float: right;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* On hover, the links will change color */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

                                                /* modal */

        .modal {                              /* found this code from online source */
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            justify-content: center;
            align-items: center;
        }

        .modal-content {
            background-color: #fefefe;
            padding: 20px;
            border: 1px solid #888;
            text-align: center;
            max-width: 80%;
        }

        /* Style the button to open the modal */
        .open-modal-btn {
            background-color: #e6c72b;
            color: black;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            cursor: pointer;
        }

        /* Hide the modal when not in use */
        .modal:target {
            display: flex;
        }

        /* Close button style */
        .close-modal-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            color:white;
            cursor: pointer;
        }



                                                /* global */
body{
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

header{
    /*background-color: rgb(9, 9, 54);*/
    background-image: url(images/what-is-ux-ui-product-design.jpg);
    background-size: cover;
    background-position: top right;
    color: #f7fff7;
}


a{
    color: #ffe66d;
}

a:hover{
    text-decoration: none;
}

h1{
    font-size: 100px;
    line-height: 1;
}

header h1{                          /* header-h1 font size */
    font-size: 50px;
}

header h2{                           /* header-h2 font size */
    font-size: 35px;
}

h1, h2{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin: 0;
}

.content-wrap{
    max-width: 800px ;         /* just for responsivenss */
    width: 85%;                /* just for responsivenss */
    margin: 0 auto;
    padding: 60px 0;
}

h2{
    font-size: 45px;
}

h3{
    margin-bottom: 0;
}

.item-details h3 + p {
    font-style: italic;
}

.item-details h3 ~ p{
    margin: 0;
}

.divider > section{
    border-bottom: 1px dashed #343434;
    padding: 25px 0;
}

.divider > section:last-of-type{
    border-bottom: none;
}


                                        /*  project*/
.projects{
    background-color: #f7fff7;
}


.projects .btn{
    color: #f7fff7;
    background: #2f3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.projects .btn:hover{
    background: rgba(47,48,97, 80%);
}
.project-item{
    overflow: hidden;
}

.project-item h3{
    margin-top: 0;
}


.custom-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the modal is on top of other elements */
}

.custom-modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    text-align: center;
    max-width: 80%;
    position: relative;
}

/* Style the button to open the modal */
.custom-btn {
    color: #f7fff7;
    background: #2f3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

/* Show the modal when it's targeted */
.custom-modal:target {
    display: flex;
}

/* Close button style */
.custom-close-modal-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #888;
    cursor: pointer;
}




                                        /*      education    */

.education{
    background-image: url(./images/educ.jpg);
    background-size: cover;
    background-position: top right;
    padding-bottom: 100px;
}

.education p{
    width: 60%;
}

                                        /*  work-experience*/
.work-experience{
    background-color: rgb(9, 9, 54);
    color: #f7fff7;
}

                                        /*  footer*/

footer{
    background-color: black;
    color: #f7fff7;
}

.contact-list{
    list-style-type:none ;
    padding: 0;
}

.contact-list a{
    padding: 15px;
    display: inline-block;
}

                                        /* responsiveness */

@media screen and (min-width:750px){
    header,footer{
        text-align: center;
    }
    .project-item img{
        float: left;
        margin-right: 20px;
    }

    .job-item{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }
    .contact-list{
        display: flex;
        justify-content: center;
    }
}


/* page 2 motion samples*/


.grid-section{ 
    height: 700px;
    background-image: url(images/65550326d777068dc8853fab9b871de1.gif);
    margin: 5px;
    background-size: cover;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.item {
    margin-top: 28px;
    background-color: rgb(123, 190, 245);
    height: 300px;
    color: #fff;
    width: 250px;
    text-align: center;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* second cell */
@keyframes scaleIn {
    0% {transform: scale(1.2);}
    60%{transform: scale(0.7);}
    100%{transform: scale(1);}

}

.grid-section h4{
    font-size: 2rem;
    text-shadow: 2px 2px 0 gray;
    font-family: 'Fira Sans', sans-serif;;
    color: black;
    align-items: center;
    animation-name: scaleIn;
    animation-duration: 2s;
    animation-delay: 4s;
    
}
/*third cell*/
.thirdcell img{
   height: 100px;
   width: 100px;    
   transition: transform 1s ease-in-out;
}
.thirdcell img:hover{
    animation: move 2s linear infinite;

}
@keyframes move {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50px); /* Adjust the distance as needed */
    }
}
/* forth cell */
.typing-cell {
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.typing-text {
    font-size: 18px;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
}

/* fifth cell */

.flip {
    font-size: 2rem;
    text-shadow: 2px 2px 0 gray;
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.flipping-word {
    display: flex;
    font-size: 36px;
    perspective: 1000px;
}

.flipping-word span {
    animation: startflip 3s ease-in-out infinite;
}

@keyframes startflip {
    0%, 100% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(180deg);
    }
}

/* sixth cell */
.sixthcell img {
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.sixthcell img:hover {
    transform: scale(1.4); 
}


/* Hover animation for grid items */
.hover-button:hover {
    background-color: #e74c3c;
    color: #fff;
    transform: scale(1.2);
}

.hover-button {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

/* Button hover state animation */
.hover-button:hover {
    background-color: #e74c3c;
    color: #fff;
    transform: scale(1.1);
}





@media screen and (max-width:749px) {
 h1{
    font: size 75px; ;
    line-height: 0.9;
    margin-bottom: 20px;
 }   
 h2{
    line-height: 1;
 }
 .contact-list a{
    padding: 5px;
 }
}

/* Media query for small screens */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}


/* hamburger menu */

