$primary-color: #ffe66d;
$secondary-color: #2f3061;
$background-dark: rgb(9, 9, 54);
$background-light: #f7fff7;
$text-color: #343434;
$footer-bg: black;
$footer-text: #f7fff7;
$modal-bg: rgba(0, 0, 0, 0.7);
$modal-content-bg: #fefefe;
$modal-border: #888;
$link-color: #ffe66d;
$link-hover-color: black;
$hover-bg: #ddd;
