// variables.scss
$color-background: #f7fff7;
$color-accent: #ffe66d;
$color-text: #343434;
$color-link: #2f3061;
$color-link-hover: rgba(47, 48, 97, 80%);
$color-modal-background: rgba(0, 0, 0, 0.7);
$color-modal-content: #fefefe;
$gridbackground-color:#2f3061;

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Oswald', sans-serif;

$max-width: 800px;
